[Unit]
Description=CouchDB Configured for Kazoo
Wants=network-online.target
After=network-online.target

[Service]
Type=forking
User=couchdb
Group=couchdb
PermissionsStartOnly=true
LimitNOFILE=65536
LimitCORE=infinity
ExecStartPre=/usr/sbin/kazoo-couchdb prepare
ExecStart=/usr/sbin/kazoo-couchdb background
ExecStop=/usr/sbin/kazoo-couchdb stop
Restart=on-abort

[Install]
WantedBy=multi-user.target