[Unit]
Description=Apache CouchDB
Wants=network-online.target
After=network-online.target

[Service]
RuntimeDirectory=couchdb
User=couchdb
Group=couchdb
LimitNOFILE=65536
LimitCORE=infinity
ExecStart=/opt/couchdb/bin/couchdb
Restart=always

[Install]
WantedBy=multi-user.target
